.atom-body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atom:hover {
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

.atom-body * {
    transform-style: preserve-3d;
}

*::before {
    box-sizing: border-box;
}

.atom {
    width: 30vmin;
    height: 30vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.atom:active {
    transform: scale3d(1.5, 1.5, 1.5);
}

.atom .nucleus-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(-6vmin);
    border-radius: 100%;
    opacity: 0.25;
}

.nucleus {
    width: 20%;
    height: 20%;
    display: block;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
}

/*** ELECTRONS ***/

.orbit {
    position: absolute;
    border-radius: 100%;
    border: 4px solid  var(--entityColor);
    transform: rotateX(80deg) rotateY(20deg)
}

.electron {
    position: absolute;
    box-shadow: -10px 5px 3px -5px #CDDC3920 inset, 10px 0px 3px -5px #CDDC3920;
    border-radius: 100%;
    transform: rotateX(80deg) var(--pos) var(--initPos);
    transition: all 0.4s ease 0s;
    animation: orbit-electron var(--tim) linear calc(var(--tim) * -0.5) infinite;
}

@keyframes orbit-electron {
    0% {
        transform: rotateX(80deg) var(--pos) var(--initPos);
    }

    100% {
        transform: rotateX(80deg) var(--pos) var(--endPos);
    }
}

.electron-background {
    width: 2vmin;
    height: 2vmin;
    position: absolute;
    border-radius: 100%;
    /* box-shadow: 0 0 9px 0px var(--entityColor); */
    left: calc(50% - 0.5vmin);
    top: -0.5vmin;
    transform: rotateX(90deg);
    animation: orbit-electron-particle var(--tim) linear 0s infinite;
    background:
        radial-gradient(circle at 40% 60%, #fff0, 3vmin, #00000040 calc(3vmin + 1px) 100%),
        radial-gradient(circle at 45% 73%, var(--entityColor), 0.3vmin, #fff0 calc(0.3vmin + 1px) 100%),
        radial-gradient(circle at 27% 58%, var(--entityColor), 0.5vmin, #fff0 calc(0.5vmin + 1px) 100%),
        radial-gradient(circle at 40% 60%, var(--entityColor), 1vmin, #fff0 calc(1vmin + 1px) 100%), var(--entityColor);
}

@keyframes orbit-electron-particle {
    0% {
        transform: rotateX(90deg) var(--endPos);
    }

    100% {
        transform: rotateX(90deg) var(--initPos);
    }
}