.persona {
    display: flex;
    gap: 20px;
    margin-top: 300px;
    margin-left: 300px;
  }

  .InteresAprendizaje {
    position: relative;
    z-index: 1;
  }

  .Professor {
    display: flex;
    gap: 20px;
    margin-top: 106.5px;
    margin-left: 106.5px;
    position: absolute; 
  }

  .Lenguage {
    display: flex;
    gap: 20px;
    margin-top: -106.5px;
    margin-left: -106.5px;
    position: absolute;
  }

  .Recta{
      position: relative;
      margin-top: -45px;
      margin-left: -265px;
      z-index: -1;
  }