@font-face {
  font-family: "Anurati";
  src: url("../fonts/Anurati-Regular.woff") format("woff");
  /* Add other font properties if needed */
}

@font-face {
  font-family: "Havelock";
  src: url("../fonts/Havelock.woff") format("woff");
  /* Add other font properties if needed */
}

body {
  background-color: black;
}

main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

h1 {
  color: white;
  font-family: "Anurati";
  letter-spacing: 10px;
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.scroll-snap-container {
  scroll-snap-type: y mandatory;
}

.scroll-snap {
  scroll-snap-align: start;
}

.fullscreen-block {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  padding: 30px 30px 30px 30px;
  scroll-snap-align: start;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Havelock";
  font-size: 22px;
}

p {
  color: white;
  position: relative;
  padding-left: 2px;
  font-weight: 200;
  font-family: "Ubuntu";
  font-size: 18px;
}

.center {
  justify-content: center;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fade-in 4.5s ease-in-out forwards;
  overflow-x: hidden;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out backwards;
}

.column {
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow: visible;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
